/*grid width is controled by the container, height is controled by the col*/
/*width and heigth are set to "fit" the font size inside col because col content changes*/
/*every change in font size inside col the width and heigt must be adjusted to "fit" the new change in size*/

.container {
	width: 641px;
}

.row {
	border-width: 5px !important;
}

.col {
	border-width: 5px !important;
	font-size: 6em;
	text-align: center;
	height: 149px;
}

.marked{
    cursor: not-allowed;
}

/* same as bootstrap's container class  responsivenes setting*/
@media (max-width: 768px) {

	.col {
		font-size: 4em;
		height: 96px;
	}

	.container{
		width: 429px;
	}
}

@media (max-width: 500px) {
	/*.card {
		min-width: 540px;
	}*/

	.col {
		font-size: 2em;
		height: 54px;
	}

	.container{
		width: 261px;
	}
}