.container {
    width:720px;
}

.row{
    border-width: 5px !important;
}

.col{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    border-width: 5px !important;
}